<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="C:\Users\Patrick\Documents\Web\icon1.png">
    <title>部落旅遊</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>網站介紹</h1>
    <p>偏鄉旅遊創作平台</p>
</div>
<% include templates/naviBar.ejs %>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>紀錄</h3>
            <p>記錄旅遊偏鄉旅遊的美好時刻</p>
            <p>與朋友家人相處的好時光</p>
        </div>
        <div class="col-sm-4">
            <h3>分享</h3>
            <p>把自己的快樂透過我們的網站分享出去</p>
            <p>上傳自己漂亮的風景照繞大家欣賞</p>
        </div>
        <div class="col-sm-4">
            <h3>推廣</h3>
            <p>我們致力於推廣偏鄉的旅遊價值</p>
            <p>透過網路的功能讓大家看見偏鄉旅遊的美好</p>
        </div>
    </div>
</div>

</body>
</html>
