<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="C:\Users\Patrick\Documents\Web\icon1.png">
    <title>部落旅遊</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>部落介紹</h1>
    <p>代表原住民部落介紹</p>
</div>
<% include templates/naviBar.ejs %>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h3>北部 - 泰雅族</h3>
            <p>泰雅族分佈在台灣北部中央山脈兩側，以及花蓮、
                宜蘭等山區。又分為泰雅亞族（Tayal）和賽德克
                亞族（Sedek）。泰雅亞族又分為Sekoleq群和
                Tseole群。賽德克亞族又分為東賽德克群和西賽德克群。
                泰雅族居住地域境內的高山相當多，例如插天山、棲蘭山
                、合歡山、大霸尖山、奇萊山等都是。河川則有新店溪、
                大甲溪、秀姑蘭溪等。以山田燒墾和和狩獵採.集為生。
                人口分佈以花蓮秀林鄉最多，分佈區尚有南投仁愛鄉、
                新竹尖石鄉、桃園復興鄉、花蓮縣萬榮鄉、宜蘭縣南澳鄉。
                總人口數約七萬九千餘人僅次於阿美族，為台灣原住民族的第三大族。</p>

        </div>
        <div class="col-sm-3">
            <h3>中部 - 邵族</h3>
            <p>邵族分布在日月潭周圍地區，也就是舊稱
                「水沙連」的地方。相傳邵族的祖先在
                追逐一隻白鹿時，無意間來到了日月潭，
                發現周遭風光明媚且資源肥美，是個可讓
                子孫世代生存的地方，於是舉族搬遷於此。</p>
            <p></p>
        </div>
        <div class="col-sm-3">
            <h3>南部 - 排灣族</h3>
            <p>排灣族以台灣南部為活動區域，北起
                大武山地，南達恆春，西自隘寮，東到
                太麻里以南海岸。分為Raval亞族和vutsul
                亞族；vutsul群又分為paumaumaq群 （北排灣族）
                、chaoboobol群和 parilario群（南排灣族）、
                paqaroqaro群（東部排灣）。</p>
            <p></p>
        </div>
        <div class="col-sm-3">
            <h3>東部 - 阿美族</h3>
            <p>阿美族為台灣原住民十四族中人口數最多的一族，
                大多分布於台灣東部地區，以花蓮到台東一帶的
                縱谷平原與海岸山脈外側之平地為主，也有部分
                族人居住於屏東恆春地區。1899年日本民族學者
                伊能嘉矩依據地域、語言、風俗習慣的差異，將
                阿美族分為南勢阿美、秀姑巒阿美、海岸阿美、
                馬蘭阿美及恆春阿美，五個地域。</p>
            <p></p>
        </div>
    </div>
</div>

</body>
</html>
