<div class="jumbotron text-center">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">部落旅遊</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">認識我們 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/intro">網站簡介</a></li>
                            <li><a href="/Tintro">部落簡介</a></li>

                        </ul>
                    </li>
                    <li><a href="/upload">我要賣</a></li>
                    <li><a href="/store">商店</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register"><span class="glyphicon glyphicon-user"></span> 註冊</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> 登入</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>